.hoverGP:hover {
	background-color: blueviolet;
}
body {


	background-color: rgba(128, 128, 128, 0.479);
  
  
  }
  .btn{

  }

  .carousel-inner>.item {
    -webkit-transition: -webkit-transform 1.2s ease-in-out !important;
    -o-transition: -o-transform 1.0s ease-in-out !important;
    transition: transform 1.0s ease-in-out !important;
}